<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{
    title: "Agregar Curso"
}) %>

  <body class="form">
    <!-- encabezado -->
    <%- include('../partials/header') %>

      <!-- principal -->
      <main class="form__main">
     
     <h2>Formulario: Editar Curso</h2>
     <hr>
     <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/courses/update/<%= id %>?_method=PUT" class="row" method="POST">
                        <div class="col-9 mb-3">
                            <label for="title" class="form-label">Título</label>
                            <input type="text" class="form-control" id="title" placeholder="Título del curso" name="title" value="<%= title %>">
                          </div>
                          <div class="col-3 mb-3">
                            <label for="price" class="form-label">Precio</label>
                            <input type="number" class="form-control" id="price" name="price" value="<%= price %>">
                          </div>
                          <div class="col-12 mb-3">
                            <label for="chef" class="form-label">Chef</label>
                            <select name="chef" id="chef" class="form-control">
                                <% chefs.forEach(({name}) => { %>
                                 <option value="<%= name %>" <%= chef === name && 'selected' %> ><%= name %></option>
                                <% }) %>
                            </select>
                          </div>
                          <div class="col-12 mb-3">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea class="form-control" id="description" rows="3" name="description"><%= description %></textarea>
                          </div>
                          <div class="col-12 mb-3">
                            <div class="d-flex justify-content-around">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="section" id="new" <%= newest && 'checked'  %>>
                                    <label class="form-check-label" for="new">
                                      Nuevo
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="section" id="sale" <%= sale && 'checked'  %>>
                                    <label class="form-check-label" for="sale">
                                      Oferta
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="section" id="free" <%= free && 'checked'  %>>
                                    <label class="form-check-label" for="free">
                                      Gratis
                                    </label>
                                  </div>
                            </div>
                           
                          </div>
                          <div class="col-3 mb-3 d-flex justify-content-center align-items-end">
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="visible" name="visible" <%= visible && 'checked'  %>>
                              <label class="form-check-label" for="visible">Visible</label>
                            </div>
                          </div>
                          <div class="col-9 mb-3">
                            <label for="image" class="form-label">Imagen</label>
                            <input type="file" class="form-control" id="image" name="image"/>
                          </div>
                          <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-dark">Actualizar curso</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>

     </div>

      </main>
      <!-- pie de pagina -->

      <%- include('../partials/footer') %>


        <%- include('../partials/scripts') %>


  </body>

</html>