<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body class="home">
    <!-- encabezado -->
    <%- include('../partials/header') %>

      <!-- principal -->
      <main class="home__main">
     
        <!-- productos -->
        <section class="home__main__section--productos">
          <% courses.forEach(({title,price,description,chef,image,id}) => { %>
            <article class="home__main__section__article animate__animated">
              <div class="home__main__section__article--imagen">
                <img class="home__main__section__article--imagen-product" src="/images/cursos/<%= image %>" alt="">
                <img class="home__main__section__article--imagen-sticker" src="/images/img-nuevo.png" alt="">
                <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
              </div>
              <div class="home__main__section__article--contenido">
                <h4><%= title %> </h4>
                <p><%= description %> </p>
                <a href="/courses/detail/<%= id %>">ver más</a>
              </div>
            </article>
          <% }) %>
         
         
        </section>
           <!-- botón de whatsapp -->

        <%- include('../partials/whatsApp') %>

      </main>
      <!-- pie de pagina -->

      <%- include('../partials/footer') %>


        <%- include('../partials/scripts') %>

          <script src="/javascripts/home.js"></script>

  </body>

</html>