<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body class="home">
    <!-- encabezado -->
    <%- include('../partials/header') %>

      <!-- principal -->
      <main class="home__main">
     
        <!-- productos -->
        <section class="home__main__section--productos">
          <!-- producto -->
          <article class="home__main__section__article animate__animated">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-1.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-nuevo.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article animate__animated ">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-2.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-gratis.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article animate__animated">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-3.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-descuento.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-1.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-nuevo.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-2.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-gratis.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-3.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-descuento.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
        </section>
           <!-- botón de whatsapp -->

        <%- include('../partials/whatsApp') %>

      </main>
      <!-- pie de pagina -->

      <%- include('../partials/footer') %>


        <%- include('../partials/scripts') %>

          <script src="/javascripts/home.js"></script>

  </body>

</html>