<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body class="home">
    <!-- encabezado -->
    <%- include('./partials/header') %>

      <!-- principal -->
      <main class="home__main">
        <!-- banner -->
        <section class="home__main__section--banner">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/img-banner.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/img-banner2.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/img-banner3.jpeg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
        <!-- productos -->
        <section class="home__main__section--productos">
          <!-- producto -->
          <article class="home__main__section__article animate__animated">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-1.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-nuevo.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article animate__animated ">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-2.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-gratis.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article animate__animated">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-3.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-descuento.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-1.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-nuevo.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-2.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-gratis.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
              <img class="home__main__section__article--imagen-product" src="/images/img-pdto-3.jpg" alt="">
              <img class="home__main__section__article--imagen-sticker" src="/images/img-descuento.png" alt="">
              <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
              <h4>Lorem, ipsum dolor.</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus
                aut
                obcaecati culpa magni laudantium!</p>
              <a href="">ver más</a>
            </div>
          </article>
        </section>
        <section class="home__main__section--courses">
          <div class="glider-contain">
            <div class="glider">
              <a href="">
                <div class="card carousel-courses-item">
                  <img src="/images/cursos/curso01.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-dark">ABC cocina</h5>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="card carousel-courses-item">
                  <img src="/images/cursos/curso02.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-dark">ABC cocina</h5>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="card carousel-courses-item">
                  <img src="/images/cursos/curso03.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-dark">ABC cocina</h5>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="card carousel-courses-item">
                  <img src="/images/cursos/curso04.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-dark">ABC cocina</h5>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="card carousel-courses-item">
                  <img src="/images/cursos/curso05.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-dark">ABC cocina</h5>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="card carousel-courses-item">
                  <img src="/images/cursos/curso06.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-dark">ABC cocina</h5>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="card carousel-courses-item">
                  <img src="/images/cursos/curso07.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-dark">ABC cocina</h5>
                  </div>
                </div>
              </a>
            </div>

            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
          </div>
        </section>
   <!-- botón de whatsapp -->

   <%- include('./partials/whatsApp') %>
      </main>
      <!-- pie de pagina -->

      <%- include('./partials/footer') %>


        <%- include('./partials/scripts') %>

          <script src="/javascripts/home.js"></script>

  </body>

</html>